// out: styles.css, compress: true, strictMath: true

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Muli' ;
}


.name{
    padding:15px 20px;
    font-weight:900;
    margin:0;
    font-size:1.8em;
    float:left;
    color:#000;
    text-decoration:none;
    position:absolute;
    z-index:9999;
    top:20px;
    left:20px;
     @media only screen and (min-width : 768px) { 
         position:fixed;
         top:40px;
         left:60px;
    } 
}


#mnu-btn {
    background:yellow;
    padding:20px 20px 17px 20px;
    cursor: pointer;
    font-size:1.2em;
    font-weight:900;
    position:absolute;
    top:20px;
    right:20px;
     z-index:9999;
    @media only screen and (min-width : 768px) { 
         position:fixed;
         top:40px;
         right:60px;
    } 
}
#mnu-btn:hover {
    background:pink;
}
.open {
      overflow: hidden;
    .name{
        @media only screen and (min-width : 768px) { 
            color:#fff;
            transition: color .5s;
        }
    }
}
.open #mnu-btn{
    background:pink;
}
.open #main{
    filter: invert(100%);
    transition: filter .5s;
}

#work {
    position:fixed; 
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9;
     
}
.list {
     position:absolute; 
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#ffffff;
    overflow:scroll;
    padding:0 20px 0 20px;
    @media only screen and (min-width : 768px) { 
            left:20%;
         padding:0 100px 0 110px;
    }
}
#buff{
    cursor:pointer;
    backdrop-filter: blur(8px);
        @media only screen and (min-width : 768px) { 
    position:absolute; 
    top:0;
    left:0;
    right:80%;
    bottom:0;
    }
}

.blog-list {
 margin-top:65px;
}

.blog-list .column{
    float:left;
    width:100%;
    @media only screen and (min-width : 768px) { 
        width:50%;
    }
}
img {
    max-width:100%;
    height:auto;
}
.blog-list .blog-item{
    text-align:left;
    
    float:left;
    margin-bottom:60px;
     @media only screen and (min-width : 768px) { 
     width:calc(100% - 100px);
         margin-bottom:120px;
    }
}
.blog-list a{
    float:left;

}
.blog-list a:hover h2{
   text-decoration:underline;
}

.blog-list .blog-item .project-image {
    position: relative;
    float: left;
    width: 100%;
}
.blog-list .blog-item img {
    position: relative;
    float: left;
    width: 100%;
}
.blog-list .blog-item .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.blog-list a:hover .overlay{
       opacity: .375;
}
.page-title {
    font-size:2.8em;
    margin-top:170px;
    padding-bottom:55px;
    font-weight: 900;
    border-bottom:3px solid #000;
     width:calc(100% - 100px);
}
.blog-list .blog-item a{
    text-decoration: none;
}
.blog-list .blog-item h2 {
    color: #000;
    font-size: 1.8em;
    margin-top: 40px;
    display: inline-block;

}
.blog-list .blog-item h3 {
    color: #ccc;

    margin-top: 10px;
}

main{
    background:#fff;
}


h1,h2,h3 {
     font-weight:900;
}
#project{
    p{
        font-size:18px;
        line-height:24px;
    }
    .hero{
       
        background-position: top center;
        background-size:cover;
        width:100%;
        height:642px;
        padding-top:250px;
        @media only screen and (min-width : 768px) { 
            display: flex;
            justify-content: center;
        }
        span{
            @media only screen and (min-width : 768px) { 
            height:1px;
            width:150px;
            background:#000;
            margin:40px;
            }
        }
        h1{
                margin:20px 0 0 0;
                font-size:1.8em;
        }
        h2{
             font-size:3.6em;
            max-width:600px;
            line-height:1.4em;
        }
    }
    .overview{
        background:#000;
        margin:-190px auto 40px auto;
        max-width:1200px;
        color:#fff;
        padding:60px;
        p{
            
            @media only screen and (min-width : 768px) { 
                width:60%;
                float:right;
                margin:0;
            }
        }
        h2{
            font-size:1.8em;
            color:#a2b9d1;
            @media only screen and (min-width : 768px) { 
            width:calc(40% - 35px);
            text-align:right;
            float:left;
                margin-top:20px;
                padding-right:35px;
                
            }
        }
        div{
            display:inline-block;
            width:100%;
        }
        ul{
            line-height:24px;
             
              &:last-child{
                    border-right:solid 1px transparent;
                }
            h3{
                font-weight:700;
                font-size:16px;
            }
            li{
             
              
                }
            @media only screen and (min-width : 768px) { 
                 border-right:solid 1px #fff;
                margin-right:40px;
            min-height:190px;
            float:left;
            width:25%;
                margin-top:60px;
                li{
                    
                }
                
            }
        }
    }
    .center{
        display:flex;
        flex-direction: column;
        flex: 1;
    align-items: center;
    }
    .container{
        max-width:1200px;
        margin:60px auto 100px auto;
        width:100%;
    }
    .none{
        margin:0 auto 100px auto;
    }
    .extra{
        margin:155px auto 130px auto;
    }
    .content{
        display:table-cell;
        justify-self: flex-start;
        p{
            width:60%;
        }
        h2 {
            font-size:1.8em;
            margin-bottom:20px;
        }
    }
    .steps{
        border-top:solid 3px #000;
        border-bottom:solid 3px #000;
        margin:0;
        margin-bottom:5px;
        padding:60px 0;
        @media only screen and (min-width : 768px) { 
            display: flex;
            justify-content: left;
        }
        li{
            margin-right:50px;
            padding-left:10px;
            h3{
                font-size:1.8em;
            }
        }
    }
    .img-container{
        max-width:1600px;
        margin:0 auto;
        width:100%;
        img{
           float:left;
            width:100%;
        }
    }
}
.space{
    margin:100px 0 10px 0; 
    
}
.carousel-btns{
    position:relative;
    width:100%;
    display:block;
    padding-bottom:60px;
}
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
    margin:0 5%;
    -webkit-box-shadow: 10px 10px 53px 5px rgba(0,0,0,0.21);
    -moz-box-shadow: 10px 10px 53px 5px rgba(0,0,0,0.21);
    box-shadow: 10px 10px 53px 5px rgba(0,0,0,0.21);
}
.carousel-wrapper * {
  box-sizing: border-box;
    
}
.carousel {
  transform-style: preserve-3d;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 44px;
  height: 44px;
  background-color: #000;
  transform: translateY(-50%);
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  color:#fff;
}
.carousel__button--prev {
  left:3%;
}
.carousel__button--next {
  right:3%;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


.insights{
    margin-top:35px;
    ul{ list-style: disc;
        margin-left:15px;
        max-width:500px;
        padding-top:10px;
        li{
            margin-top:15px;
           
        line-height:1.3em;
        }
    }
}


.ikka{
    .hero{
        background-image: url(https://www.ikkaconstruction.com/wp-content/themes/ikka/img/homebg.jpg);
    }
}
.apollo{
    .name {
        color:#fff;
    }
     .hero{
        background-image: url(/90c245ad32624327d3fc089a4688f1a114bf18c6/img/apollo/apollo-h.png);
        color:#fff;
       span{
            @media only screen and (min-width : 768px) { 
            background:#fff!important;
            }
        }
    }
}
.c-logo--scrolled .name{
        color:#000;
       
     transition: color .5s;
}
   



